dx-select-box,
dx-tag-box {
    margin-bottom: 10px;
}

dx-text-box {
    margin-bottom: 10px;
    width: 100%;
}

dx-button {
    float: right;
    margin-left: 10px;
}

::ng-deep .dx-button .dx-icon {
    color: #fff;
}

::ng-deep .form-avatar img {
    width: 100%;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    cursor: pointer;
}

::ng-deep .dx-fileuploader-file {
    display: none;
}

label span.required {
    color: red;
}